<div class="nav-wrapper">
    <ul id="nav"
        class="nav"
        data-ng-controller="NavCtrl"
        data-slim-scroll
        data-collapse-nav
        data-highlight-active>
        <li><a href="#/dashboard"> <i class="ti-home"></i><span data-i18n="Dashboard"></span> </a></li>
        <li>
            <a href="#/ui"><i class="ti-wand"></i><span data-i18n="教师管理"></span></a>
            <ul>
                <li><a href="#/teacher/teacher_add"><i class="ti-angle-right"></i><span data-i18n="添加教师"></span></a></li>
            </ul>
        </li>
        <li>
            <a href="#/pages"><i class="ti-files"></i><span data-i18n="学生管理"></span></a>
            <ul>
                <li><a href="#/student/student_add"><i class="ti-angle-right"></i><span data-i18n="添加学生"></span></a></li>
            </ul>
        </li>
    </ul>
</div>
