<div class="container-fluid">
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">Blank</h1>
		</div>
		<!-- /.col-lg-12 -->
		<form name="form_signin" class="form-horizontal form-validation" data-ng-submit="submitForm()">
                    <div class="form-group">
                        <label for="InputUsername">用户名：</label>
                        <input type="text" class="form-control" required data-ng-model="user.username" id="InputUsername" placeholder="请输入教师登陆用户名">
                    </div>
                    <div class="form-group">
                        <label for="InputPassword">密码：</label>
                        <input type="password" class="form-control" required data-ng-model="user.password" id="InputPassword" placeholder="输入教师登陆密码">
                    </div>
                    <div class="form-group">
                        <label for="InputEmail">E-mail：</label>
                        <input type="email" class="form-control" required data-ng-model="user.email" id="InputEmail" placeholder="输入教师邮箱">
                    </div>
                    <div class="form-group">
                        <label for="InputTrueUsername">真实姓名：</label>
                        <input type="text" class="form-control" required data-ng-model="user.trueusername" id="InputTrueUsername" placeholder="请输入教师真实姓名">
                    </div>
                    <div class="form-group">
                        <label for="InputDepartment">部门：</label>
                        <input type="text" class="form-control" required data-ng-model="user.department" id="InputDepartment" placeholder="请输入教师所属部门">
                    </div>
                    <div class="form-group">
                        <label for="InputTitle">头衔：</label>
                        <input type="text" class="form-control" required data-ng-model="user.title" id="InputTitle" placeholder="请输入教师头衔">
                    </div>
                    <div class="form-group">
                        <label for="InputPhone">电话：</label>
                        <input type="text" class="form-control" required data-ng-model="user.phone" id="InputPhone" placeholder="请输入教师电话">
                    </div>
                    <div class="form-group">
                        <label for="InputCredit">信用额度：</label>
                        <input type="text" class="form-control" required data-ng-model="user.credit" id="InputCredit" placeholder="请输入教师信用额度">
                    </div>
                    <div class="form-group">
                        <label for="InputLevel">等级：</label>
                        <input type="text" class="form-control" required data-ng-model="user.level" id="InputLevel" placeholder="请输入教师等级">
                    </div>
                    <button type="submit"
                            class="btn btn-primary btn-w-md"
                            
                            >提交</button>
                </form>
	</div>
	<!-- /.row -->
</div>
