<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="myModalLabel">登陆</h4>
  </div>
    <form ng-submit="$close(user)">
  <div class="modal-body login-form">

    <div class="form-group">
      <input class="form-control" type="text" ng-model="user.username" placeholder="用户名" required>
    </div>
    <br>
    <div class="form-group">
      <input class="form-control" type="password" ng-model="user.password" placeholder="密码" required>
    </div>

</div>
  <div class="modal-footer">
    <button class="btn btn-outline btn-primary btn-lg btn-block" target="_self">登录账户</button>
  </div>
  </form>
</div>
